aws/definitions/DataInjectionWorkflow.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Set Variables",
  "States": {
    "Set Variables": {
      "Type": "Pass",
      "Next": "Get Data From API",
      "Assign": {
        "wf_timestamp": "{% $now() %}"
      }
    },
    "Get Data From API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:eu-west-1:257394462879:function:project-data-finance-dev-getDataFromApi",
        "Payload": {
          "wf_timestamp": "{% $wf_timestamp %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Process Data"
    },
    "Process Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:eu-west-1:257394462879:function:project-data-finance-dev-processData",
        "Payload": {
          "wf_timestamp": "{% $wf_timestamp %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}